/* || RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
head {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font: inherit;
  font-family: monospace;
}

/* || VARIABLES */

:root {
  /*COLOR*/
  --LOGO-BG-COLOR: #000;
  --MAIN-GREEN: #009900;
  --FADE-GREEN: #009900c2;
  --LINK-BG-COLOR: rgb(255, 194, 39);
  --LINK-BORDER: 1.5px solid rgb(250, 246, 29);
  --FONT-DEFAULT-COLOR: #000;
  --BIG-FONT-COLOR: #555;
  --RARE-WHITE: #fff;
  --FADE-BLACK-BG: #99999910;

  /*FONTS*/
  --FF: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --FS: clamp(11px, 3vh, 2.5rem);
  --BIG-FS: clamp(45px, 1vh, 65px);
  --LOGO-SIZE: 17rem;

  /* || PADDING*/
  --HEADER-PADDING: 20px 0 0 10px;
  --ABOUT-PADDING: 80px 0 80px 0;
  --FEAT-PADDING: 115px 100px 0 100px;
  --SEC-FEAT-PADING: 150px 100px 0 100px;
  --IMAGE-HEIGHT: Clamp(600px, 2vh, 976px);
  --LINK-PADDING: 8px 30px 8px 30px;
}

/* || UTILITY CLASSES */

.wrap {
  display: inline-block;
  white-space: wrap;
}

/* || GENERAL STYLES */

body {
  display: flex;
  flex-direction: column;
  font-family: var(--FF);
  /* white-space: nowrap; */
}

.para {
  color: var(--MAIN-GREEN);
  font-size: var(--FS);
}

.bigtext {
  color: var(--BIG-FONT-COLOR);
  font-size: var(--BIG-FS);
  font-weight: 600;
}

.divs {
  scroll-margin-top: 80px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 80px; */
}

/* || HEADER */

.header_logo {
  width: var(--LOGO-SIZE);
}

/* .logo {
  min-width: var(--LOGO-SIZE);
  width: 100px;
  height: 100px;
}
 */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  padding: 10px;
  background-color: var(--MAIN-GREEN);
  justify-content: space-evenly;
  align-items: center;
}

.header_nav {
  display: flex;
}

.header_nav ul {
  justify-items: space-evenly;
  display: flex;
  list-style-type: none;
  gap: 40px;
  padding: var(--HEADER-PADDING);
}

li a,
a {
  text-decoration: none;
  font-weight: 500;
  color: var(--RARE-WHITE);
}

li .anolink,
.anolink {
  background-color: var(--LINK-BG-COLOR);
  border: var(--LINK-BORDER);
  border-radius: 50px;
  color: #000;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: var(--LINK-PADDING);
  width: 130px;
}

.dash {
  height: 16px;
  width: 16px;
}

/* || FIRST PAGE */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  background-color: var(--MAIN-GREEN);
  background-image: url("../Pic/pi2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section_outer {
  min-height: 100vh;
  background-color: var(--FADE-GREEN);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  /* padding: 100px; */
}

.flex_items {
  display: flex;
  flex-direction: column;
  /* justify-self: baseline;
  text-align: end; */
  bottom: 0;
}

.section,
.h1 {
  color: rgb(250, 246, 29);
  font-weight: 500;
}

.subhead {
  color: var(--RARE-WHITE);
  font-size: var(--BIG-FS);
  font-weight: 600;
}

.section_p {
  color: var(--RARE-WHITE);
}

.doublephone {
  height: 95%;
}

/* || ABOUT US */

.aboutus {
  min-height: 90vh;
  text-align: center;
  flex-direction: column;
}

.roll {
  display: flex;
  gap: 60px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

/* || ABOUT US ENDS */

/* || FEATURES */

.featuer {
  height: 2000px;
}

.feat {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: var(--FEAT-PADDING);
  gap: 70px;
  height: fit-content;
}

.feat_bg {
  background-color: var(--FADE-BLACK-BG);
  align-items: start;
  height: 500px;
}

.awesome {
  height: fit-content;
}

.feat_h2 {
  padding: 30px 0 30px 0;
}

.hero {
  height: var(--IMAGE-HEIGHT);
  min-height: 90vh;
}
/* || SECOND DIV */
/* .sec {
  padding: var(--SEC-FEAT-PADING);
} */

/* || THIRD DIV */
.carbon_code {
  height: clamp(20rem, 2vh, 25rem);
}
